<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="api.utilities.ExtentReportManager"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/abhay/IdeaProjects/APIAutomationFramework/src/test/java/api/test/UserTest2.java">
        <classes>
            <class name="api.test.UserTest2">
                <methods><include name="testPostReq"/>
                    <include name="testGetReq"/>
                    <include name="testUpdateUserByName"/>
                    <include name="testDeleteUser"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>